
@{
    ViewData["Title"] = "User's Leave";
}
<div class=" row">
    
    <div>
        <form method="get" enctype="multipart/form-data" asp-controller="Leave" asp-action="Index">
            <div class="row align-items-center">
                <div class="col-md-6 mb-3">
                    <div>
                        <label for="Year">Year <small class="text-danger">*</small> </label>
                        <input required class="form-control" name="Year" placeholder="@DateTime.Now.Year">
                    </div>
                </div>
                <div class="col-md-6 mb-3">

                    <label for="">User <small class="text-danger">*</small></label>
                    <div class="input-group input-group-sm">
                        <select required class="form-select mb-0" name="UserId" aria-label="Gender select example">
                            <option selected value="">Select A User</option>
                            @{
                                foreach (var item in ViewBag.AllUsers)
                                {
                                    <option value="@item.Id">@item.Email</option>
                                }
                            }
                        </select>
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                            <span class="input-group-text" id="topbar-addon">
                                <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>
<div class="card card-body border-0 shadow table-wrapper table-responsive ">
    <div>
        <a class="btn btn-pill btn-secondary mt-2 animate-up-2 " style="float:left; margin-top:-25px !important">@(ViewBag.Year != null ? ViewBag.Year : "")</a>

        <a class="btn btn-pill btn-secondary mt-2 animate-up-2 " style="float:right; margin-top:-25px !important">@(ViewBag.User != null ? ViewBag.User.Name : "")</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200">Leave Reason</th>
                <th class="border-gray-200">Date</th>
                <th class="border-gray-200">Type</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
           
           @{
                if (ViewBag.User != null)
                {
                    @foreach (var item in ViewBag.User.Leaves)
                    {
                        <!-- Item -->
                        <tr>
                            <td>
                                <span class="fw-normal">@item.Reason</span>
                            </td>
                            <td>
                                <span class="fw-normal">@item.Leavedate.ToString("MMMM dd, yyyy")</span>
                            </td>
                            <td><span class="fw-normal">@item.Type</span></td>
                            <td>

                                <a class="text-warning mr-10" asp-controller="Leave" asp-action="Edit" asp-route-id="@item.id"><i class="fa-solid fa-pen-to-square" style="font-size:18px;"></i></a>
                                <a class="text-danger" onclick="DeleteItem('/Leave/Delete/@item.id')"><i class="fa-solid fa-trash" style="font-size:18px;"></i></a>
                            </td>
                        </tr>
                    }
               }
           }
            
           
        </tbody>
    </table>
    
    <form class="d-none" method="get" id="form-delete-item-action">
        <button type="submit" class="btn" id="Delete-confirm-item"> </button>
    </form>
</div>
<div class="row">
    <div class="col-12 ">
        <a class="btn btn-pill btn-secondary mt-5" style="float:right" asp-controller="Leave" asp-action="Create">Add New Leave</a>
    </div>
</div>
@section Scripts
    {
        @{
                <partial name="_ValidationScriptsPartial"></partial>
        }
    
    <script>
      
        function DeleteItem(DeleteUrl) {
            console.log(DeleteUrl)
          
            if (DeleteUrl) {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#form-delete-item-action").attr("action", DeleteUrl);

                        $('#Delete-confirm-item').click();
                       
                    } else {
                        Swal.fire(
                            'The item is safe!'
                        )
                    }
                   
                })
            }
        }
        </script>
    }
 